{% extends 'base.html' %}

{% block content %}
<h1 class="p-2 text-center">Delete Character</h1>

<h4 class="p-2 text-center">Are you sure you want to delete <span> {{object.color}} {{object.name}} </span></h4>

<div class="row justify-content-center">
    <div class="col-auto">
        <form method="POST">
            {% csrf_token %}
            <input type="submit" class="btn btn-info" value="Delete">
            <a class="btn btn-info" href="{% url 'character_detail' object.id %}">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}