{% extends 'base.html' %}

{% block title %}
{% if object %}
<title>Update {{ object.name}}'s Stats</title>
{% else %}
<title>Add a New Player</title>
{% endif %}
{% endblock %}

{% block content %}
{% if object %}
<h1 class="text-center p-2">Update Player</h1>
{% else %}
<h1 class="text-center p-2">Add a New Player</h1>
{% endif %}

<div class="row">
    <div class="mx-auto col-10 col-md-8 col-lg-6">
        <form method="POST">
            <div class="row justify-content-center">
                <div class="col-auto">
                    {% csrf_token %}
                    <table class="table">
                    {{ form.as_table }}
                    </table>
                    <input class="btn btn-info justify-content-center" type="submit" value="Submit">
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}